.modal-wrapper {
    position: absolute;
    left: 50%;
    top: -300%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
}

.modal-wrapper-footer {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-wrapper-title {
    color: hsl(237, 49%, 15%);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
}

#modal-wrapper-close-button {
    height: 30px;
    width: 30px;
}

#modal-wrapper-close-button:hover {
    cursor: pointer;
}


.rules-img {
    position: relative;
    padding: 5%;
}
