.result-field-wrapper {
    margin: 5% auto auto;
    position: relative;
    height: 500px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result-field-title {
    width: 350px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 3px;
}

.play-again-button {
    margin-top: 10px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: hsl(237, 49%, 15%);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

.play-again-button:hover {
    cursor: pointer;
    border: solid white;
    color: white;
    background: transparent;
}

.play-again-button-title {
    width: 250px;
    height: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 3px;
}

.play-again-wrapper {
    padding-top: 15%;
}

.not-display {
    display: none;
}

.red {
    color: hsl(349, 71%, 52%);
}

.empty-circle-wrapper {
    right: 0;
    bottom: 0;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.empty-circle {
    position: absolute;
    height: 75%;
    width: 75%;
    background: rgba(20, 21, 57, 0.5);
    border-radius: 100%;
}
